django-cors-headers==3.1.0
django-extensions==2.2.1
django-import-export==1.2.0
django-storages==1.6.6
django-utils==0.0.2
djangorestframework==3.10.2
mysqlclient==1.4.4
Pillow==4.1.1
oauth_valid==0.2.3
drf-yasg==1.15.0
ktis-parser==0.3.1
Django==2.2.4
lxml==4.4.1
django-ipware==2.1.0
uwsgi==2.0.18
django-admin-view-permission==1.9
django-import-export==1.2.0
openpyxl==2.6.3